<!DOCTYPE html>
<html>
  <head>
    <title>Grouipie Tracker</title>
    <link rel="stylesheet" href="/static/styles/member.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat&display=swap"
      rel="stylesheet"/>
  </head>
  <body>
    <div class="wrapper"></div>
    <div class="container">
        <h1 class="title">
          {{.Title}}:<br />
          {{range .Artists}}{{.}}<br/>{{end}} <br>
          <a href="http://gtrackers.herokuapp.com/">Main page</a>
        </h1>
    </div>
  </body>
</html>
