.wrapper {
  width:100%;
  height: 100%;
  background: linear-gradient(45deg,#F17C58, #E94584, #24AADB , #27DBB1,#FFDC18, #FF3706);
  background-size: 600% 100%;
  animation: gradient 15s linear infinite;
  animation-direction: alternate;
}

@keyframes gradient {
  0% {background-position: 0%}
  100% {background-position: 100%}
}


body, html {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

* {
  margin: 0px 0px 0px 0px;
}


.container {
  background-color: rgba(0, 0, 0, 0.4);
  width: 90vw;
  max-width: 1000px;
  height: 90vw;
  max-height: 1000px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  border: none;
  border-radius: 10px;
  color: white;
}

.title {
  font-size: 50px;
  text-align: center;
  color: white;
  margin-bottom: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

a {
  color: white;
  font-size: 30px;
}

@media all and (max-device-width: 1200px) {
  .container {
      padding: 10px;
      justify-content: center;
      display: table;
      height: 80vh;
      overflow: scroll;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }
  .title {
    font-size: 30px;
  }
  a{
    font-size: 25px;
  }
}